<div class="banner">
    <div class="container">
        <div class="row">

            <div class="col-12 info">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam placerat ex, at molestie lacus suscipit at. Curabitur nec accumsan mauris. Duis porta gravida bibendum. Aliquam ac suscipit massa. Vestibulum nec ipsum quis mauris accumsan faucibus in a nulla. Aliquam aliquam aliquet velit at pretium. Vestibulum ac efficitur augue, ut euismod elit. Cras aliquam nibh eget libero tempus blandit. Morbi elementum arcu sit amet nunc porttitor accumsan. Sed eget elit at ex pulvinar commodo. Etiam feugiat mauris et imperdiet accumsan. In hac habitasse platea dictumst.</p>
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam placerat ex, at molestie lacus suscipit at. Curabitur nec accumsan mauris. Duis porta gravida bibendum. Aliquam ac suscipit massa. Vestibulum nec ipsum quis mauris accumsan faucibus in a nulla. Aliquam aliquam aliquet velit at pretium. Vestibulum ac efficitur augue, ut euismod elit. Cras aliquam nibh eget libero tempus blandit. Morbi elementum arcu sit amet nunc porttitor accumsan. Sed eget elit at ex pulvinar commodo. Etiam feugiat mauris et imperdiet accumsan. In hac habitasse platea dictumst.</p>
            </div>
            
            <div class="col-12 image">
                <img src="./assets/images/aboutus.png" alt="">
            </div>

        </div>
    </div>
</div>



