.banner
{
    background-color:rgb(76, 134, 228);
    text-align: center;
    .info
    {
        color: white;
        h1
        {
            margin: 20px;
        }
    }
    .image
    {
        overflow: hidden;
        img
        {
            height: 500px ;
        }
        @media(max-width: 768px)
        {
            img
            {
                height: 400px ;
            }
        }

        @media(max-width: 576px)
        {
            img
            {
                height: 200px;
            }
        }
    }
}