<div class="banner">
    <div class="overlay">
    <div class="intro">
        <div class="head">
            <h1>NEW <span>FASHION</span> HERE. </h1>
            <h1>YOU CAN MADE IT </h1>
            <h1><span>SIMPLE.</span></h1>
            <div class="shopbtn">
                <a routerLink="/categories">
                    <div class="btn">SHOP NOW <i style="margin-left: 10px;" class="fas fa-shopping-cart"></i></div>
                </a>
            </div>
            <div class="media">
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="icon">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="icon">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="soicalWrapper">
            <div class="social">
                <div class="line1"></div>
                <div class="links">
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="line2"></div>
            </div>
        </div>
    </div>
</div>
</div>
